#sidebar {
  border-right: none;
  position: fixed;
  height: 100%;
}

#sidebar hr {
  color: #666 !important;
}

#sidebar #logo {
  margin: 15px 25px;
  color: #ccc;
  /* Other styles are applied with bootstrap */
}

#sidebar #logo #text-link {
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar #logo #text-link a {
  color: #ccc;
  font-size: 22px;
  white-space: nowrap;
}
