#sidebar {
  border: none;
}

#sidebar hr {
  color: #666 !important;
}

#sidebar #logo {
  margin: 15px 25px;
  color: #ccc;
}

#sidebar #logo #text-link a {
  color: #ccc;
  font-size: 22px;
  white-space: nowrap;
}
