/* Layout */
html,
body,
#root,
#app {
  min-height: 100vh;
}

body {
  background-color: #f6f6f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

#app {
  display: flex;
}

/* Preset */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* General styles */
.section {
  background-color: #fff;
  padding: 15px;
  min-height: 250px;
  border-radius: 10px;
  border: 1px #ddd solid;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.1);
}

.error_text {
  color: var(--red-0);
  text-align: center;
}

.btn-bd-primary {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--blue-1);
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.18rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--blue-2);
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--blue-2);
  --bs-btn-active-border-color: none;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.btn-bd-danger {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--red-1);
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.18rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--red-0);
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--red-0);
  --bs-btn-active-border-color: none;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

/* Bootstrap overrides */
.table {
  --bs-table-hover-bg: rgb(248, 249, 250, 0.5);
}

.form-control,
.form-select {
  border-radius: 3px;
}

/* .form-check-input:checked {
  background-color: var(--blue-0);
  border-color: var(--blue-0);
} */

.form-switch.form-switch-md {
  margin-bottom: 1rem;
}

.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
}

.border-0:focus {
  box-shadow: none;
}

/* .alert {
  border-radius: 10px;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.1);
} */

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.max-width-200 {
  max-width: 200px;
}

.max-width-300 {
  max-width: 300px;
}

.min-height-800 {
  min-height: 800px;
}

.pointer {
  cursor: pointer;
}

.green-dot {
  margin-right: 3px;
  height: 5px;
  width: 5px;
  background-color: #04aa6d;
  border-radius: 50%;
  display: inline-block;
  /* box-shadow: 0 0 1px 1px #04aa6d; */
}

.orange-dot {
  margin-right: 3px;
  height: 5px;
  width: 5px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  /* box-shadow: 0 0 1px 1px #04aa6d; */
}

.red-dot {
  margin-right: 3px;
  height: 5px;
  width: 5px;
  background-color: #fd583b;
  border-radius: 50%;
  display: inline-block;
  /* box-shadow: 0 0 1px 1px #04aa6d; */
}

/* @media (max-width: 360px) {
}

@media (min-width: 361px) and (max-width: 576px) {
}

@media (min-width: 577px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 992px) {

}

@media (min-width: 993px) and (max-width: 1200px) {
}

@media (min-width: 1201px) {

} */
